@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:ital,wght@1,700&family=Nerko+One&display=swap');
/*font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif;
font-family: 'Nerko One', cursive;*/
body{
    padding: 0rem;
    margin: 0rem;
}
body{
    margin-left: 1.5rem;margin-right: 1.5rem;
}

nav{
    background: linear-gradient(to right,rgb(10, 10, 10),rgba(10, 10, 10,0.9));
    margin-left: 1.5rem;margin-right: 1.5rem;
}
nav .nav-brand{
    color: white;
    padding-top: 1rem;
    margin-left: 3rem;
    
    
}
nav ul li{
    display: inline;
    padding: 2.5rem;
    text-align: justify;
}
nav ul{
    text-align: center;
    padding-bottom: 2rem;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Nerko One', cursive;
    font-size: larger;
}


 header .welcome-quote{
     text-align: center;
 }
 header .welcome-quote h1{
    font-family: 'Merriweather', serif;
 }
 .wip{
     text-align: center;
     font-family: 'Nerko One', cursive;
     font-size: larger;
     animation-name: animate;
     animation-duration: 15s;
     animation-iteration-count: infinite;
     
     
    
 }
 /*animation for */
 @keyframes animate{
     0%{
         transform: translateX(0%);
     }
     25% {
         transform: translateX(15%);
     }
     50%{
         transform: translateX(-15%);
     }
     75%{
         transform: translateX(-15%);
     }
     90%{
         transform: translateX(15%);
     }
    
 }

 .intro{
     padding: 2rem, 0rem;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     background-color: grey;   
       overflow: auto;
    
    }
    .intro .intro-main{
        margin-right: 2rem;
    
    }
   
 
 
 
 .intro .intro-main img{
     border-radius: 45%;
     padding-top: 2rem;
     padding-bottom: 2rem;
     padding-left: 1.5rem;
     padding-right: 1.5rem;
    
 }
 .about-me{
     padding-bottom: 1.5rem;
 }
 .skills{
     border: 2px solid black;
     padding: 1rem ,1.5rem;
     margin-left: 2rem;
     
 }
 
 .skills h1{
     text-decoration: underline;
 }

 .skills span{
    font-family: 'Merriweather', serif;

 }
 .intro .test123{
    text-align: center;
    padding-right: 3rem;
    overflow-wrap: break-word;
    
 }
 
    
    
    

.project p{
   font-family: 'Merriweather', serif;
}



 .project{
     text-align: center;
     
 }
 .project p{
    font-family: 'Merriweather', serif;
 }
 .project a{
     
     background: linear-gradient(to right,rgb(28, 28, 25),rgba(28, 28, 25,0.8)); 
    color: white;
     text-decoration: none;
     padding: 0.2rem , 0.2rem;
     border-radius: 3rem;
     
     font-weight: 100;
     
    }
    .project h2{
        border-radius: 3rem;
    }

    .blogs{
        text-align: center;
    }
    .blogs p{
        font-family: 'Merriweather', serif;
    }

.blogs a{
    background: linear-gradient(to right,rgb(28, 28, 25),rgba(28, 28, 25,0.8)); 
    color: white;
     text-decoration: none;
     padding: 0.2rem , 0.2rem;
     border-radius: 3rem;
     
     font-weight: 90;
     
}
.playlist{
    text-align: center;
    
}
.playlist p{
   font-family: 'Merriweather', serif;
}
.playlist a{
    
    background: linear-gradient(to right,rgb(10, 10, 10),rgba(10, 10, 10,0.9));
   color: white;
    text-decoration: none;
    padding: 0.2rem , 0.2rem;
    border-radius: 3rem;
    
    font-weight: 100;
    
   }
   .playlist h2{
       border-radius: 3rem;
   }

   .music-quote{
       text-align: center;
       font-family: 'Merriweather', serif;

   }

.footer{
    
    text-align: center;
    background: linear-gradient(to right,rgb(10, 10, 10),rgba(10, 10, 10,0.9));
    object-fit: cover;
}
.footer-header{font-family: 'Lobster', cursive;
    color: white;
    padding-top: 1rem;
    font-size: larger;

}
.footer ul li{
    list-style: none;
}
.footer ul{
    padding-bottom: 1rem;
}
.footer ul li a{
    text-decoration: none;
    color: white;
}
.footer .area{
    color: white;
}

@media only screen and (max-width: 800px) {
    nav ul li{
        display: block;
    }
    nav ul  {
       text-align: center;
    }
    nav{
        margin: 1rem,1.5rem;
        
    }
    #top{
        margin-right: 3rem;
    }
    header h1{
        font-size: 1.7em;
    }
    body{
        text-align: center;
        margin-right: 2em;
    }

    .intro{
        display: flex;
        flex-direction: column;
        object-fit: contain;
        overflow: auto
        
       
        
    }
    .wip{
        text-align: center;
    }
    .intro img{
        width: 230px;
       
        padding-right: 3rem;
        border-radius: 65%;
        
       
        
    }
    .about-me{
        object-fit: contain;
        overflow-wrap: break-word;
        
        
        
        
    }
    .skills{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: 1em;
        margin-right: 0.7em;
    }
    .test123{
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
    .footer{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .footer ul{
        padding-left: 1rem;
        padding-right: 1rem;

    }
    .skills h2{
        font-size: 24px;
    }
    .skills span{
        font-size: 16px;
    }
    .wip{
        animation-play-state: paused;
        text-align: center;
        font-size: 12px;
    }
}